<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header_element %>
    <link rel="stylesheet" href="/stylesheets/twentytwenty/twentytwenty.css" type="text/css" media="screen">
    <link href="/stylesheets/explore/new.css" rel="stylesheet" type="text/css">
</head>
<body>
<% include ../partials/navbar %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 p-0">
            <% include image_view %>
            <!-- Body -->
            <div class="card border border-top-0 rounded-0">
                <div class="card-body">
                    <% if (!currentUser){ %>
                        <div class="row">
                            <div class="col-9">
                                <a href="/login" class="btn btn-primary btn-block">Share with others!</a>
                            </div>
                            <div class="col-3">
                                <button id="change_view_btn" class="float-right btn btn-secondary">Change View</button>
                            </div>
                        </div>

                    <% } else{ %>
                        <!-- Post, image description -->
                        <div class="media card-title mb-3 d-flex align-items-center">
                            <img class="avatar-md mr-2 rounded-circle" src="<%= currentUser.avatar %>">
                            <div class="media-body">
                                <h3 class="m-0"><%= currentUser.username %></h3>
                            </div>
                            <button id="change_view_btn" class="mt-n4 float-right btn btn-outline-secondary"><i class="fas fa-sync-alt"></i></button>
                        </div>
                        <form action="/explore" method="POST">
                            <input type="hidden" name="post[contentImg]" value="<%= post.contentImg %>">
                            <input type="hidden" name="post[selectStyle]" value="<%= post.selectStyle %>">
                            <input type="hidden" name="post[resultImg]" value="<%= post.resultImg %>">
                            <textarea id="description_input" class="form-control" name="description" rows="8" placeholder="Say something about your pictures, <%= currentUser.username %>."></textarea>
                            <button id="submitBtn" class="mt-1 btn btn-primary btn-block">Share with others!</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer_element %>
<script src="/scripts/twentytwenty/jquery.event.move.js" type="text/javascript"></script>
<script src="/scripts/twentytwenty/jquery.twentytwenty.js" type="text/javascript"></script>
<script src="/scripts/explore/new.js" type="text/javascript"></script>
</body>
</html>