<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header_element %>
    <link rel="stylesheet" href="/stylesheets/twentytwenty/twentytwenty.css" type="text/css" media="screen">
    <link href="/stylesheets/explore/show.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/explore/index.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/users/show.css" rel="stylesheet" type="text/css">
</head>
<body>
<% include ../partials/navbar %>


<!-- Modal -->
<div class="modal" id="postModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header py-2 px-3 border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body py-0">

            </div>
            <div class="modal-footer border-0 pt-0">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="mb-1 pb-0 pt-4">
                <div class="row m-0">
                    <div class="col-12 col-lg-3 p-0">
                        <div class="text-center">
                            <img class="text-center avatar-profile rounded-circle" src="<%= user.avatar %>">
                            <h3 class="my-0 text-break"><%= user.username %></h3>
                            <% if (user.email){ %>
                                <p class="text-break mb-1 mb-lg-0"><%= user.email %></p>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7 ml-lg-4 p-0">
                        <% if (user.name){ %>
                            <h3 class="text-break"><%= user.name %></h3>
                        <% } %>
                        
                        <div>
                            <% if (user.bio){ %>
                                <p class="text-break"><%= user.bio %></p>
                            <% } %>
                        </div>
                    </div>
                    <% if (currentUser && (currentUser._id.equals(user._id) || currentUser.isAdmin)){ %>
                        <div class="col-12 col-lg-2 ml-lg-n4 p-0 text-center text-lg-right">
                            <a class="btn btn-secondary" href="/users/<%= user._id %>/edit">Edit profile</a>
                        </div>
                    <% } %>
                </div>
            </div>
            <p class="lead text-right mb-0">
                <%= posts.length %> Posts
            </p>
            <hr class="my-1">
            <div class="row">
                <% posts.forEach(function(post){ %>
                    <div class="col-4 px-1 p-lg-1 px-lg-2">
                        <div class="m-0 container-square post-block">
                            <a class="post-link" href="/explore/<%= post._id %>">
                                <img src="<%= post.resultImg %>" class="container-content">
                                <h1><i class="centered-icon far fa-heart text-white"></i></h1>
                            </a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer_element %>
<script src="/scripts/twentytwenty/jquery.event.move.js" type="text/javascript"></script>
<script src="/scripts/twentytwenty/jquery.twentytwenty.js" type="text/javascript"></script>
<script src="/scripts/explore/index.js" type="text/javascript"></script>
</body>
</html>